@import "tailwindcss";

/* hide all scroll bar globally */
html, body, #root { 
  height: 100%;
  overflow: hidden; /* THE KEY: Prevents browser-level scrolling */
}

/* @layer base{

} */

@layer components{
  .purple-card{
   @apply  bg-gradient-to-br from-purple-50 to-purple-100 border border-purple-200 rounded-lg p-3 hover:shadow-md transition-all;
  }
  .green-card{
    @apply  bg-gradient-to-br from-green-50 to-green-100 border border-green-200 rounded-lg p-3 hover:shadow-md transition-all;
  }
  .blue-card{
    @apply  bg-gradient-to-br from-blue-50 to-blue-100 border border-blue-200 rounded-lg p-3 hover:shadow-md transition-all;
  }
  .pink-card{
    @apply  bg-gradient-to-br from-pink-50 to-pink-100 border border-pink-200 rounded-lg p-3 hover:shadow-md transition-all;
  }

  .purple-hover{
    @apply p-2 bg-purple-100 hover:bg-purple-200 rounded-lg transition-colors;
  }
  .green-hover{
    @apply p-2 bg-green-100 hover:bg-green-200 rounded-lg transition-colors;
  }
  .blue-hover{
    @apply p-2 bg-blue-100 hover:bg-blue-200 rounded-lg transition-colors;
  }
  .pink-hover{
    @apply p-2 bg-pink-100 hover:bg-pink-200 rounded-lg transition-colors;
  }
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;     /* For Firefox */
  }
}