@import "tailwindcss";

/* hide all scroll bar globally */
html, body, #root { 
  height: 100%;
  overflow: hidden; /* THE KEY: Prevents browser-level scrolling */
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;     /* For Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* For Chrome, Safari, and Opera */
  }

  .perspective {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}